# 01 — Build Commercial Partner Summary Dataset

## Objective
Build a clean, analytics-ready **commercial_partner_summary** dataset by integrating raw purchase, sales, freight, and pricing data from a SQLite database.

This notebook focuses on **data preparation + correctness + reproducibility**.
All insights/decisions are intentionally deferred to Notebook 02.

## Outputs
- SQLite DB: `inventory.db`
- Curated table in SQLite: `commercial_partner_summary`
- CSV export: `outputs/tables/commercial_partner_summary.csv`

In [1]:
# =========================
# Imports + Paths
# =========================
import pandas as pd
import sqlite3

# creating database connection
conn = sqlite3.connect('inventory.db')

#checking tables present in the database
tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type ='table'", conn)
tables

                   name
0  vendor_sales_summary
1             purchases
2       purchase_prices
3        vendor_invoice
4       begin_inventory
5                  sale
6         end_inventory

In [2]:
for table in tables['name']:
    
    print('-'*50, f'{table}','-'*50)
    print('Count of records:', pd.read_sql(f"SELECT count(*) as count from {table}", conn)['count'].values[0])
    display(pd.read_sql(f"SELECT * from {table} limit 5", conn))

-------------------------------------------------- vendor_sales_summary --------------------------------------------------
Count of records: 10692

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,FreightCost,GrossProfit,ProfitMargin,StockTurnover,SalestoPurchaseRatio
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750.0,145080,3811251.60,142049.0,5.101920e+06,672819.31,260999.20,68601.68,1290667.91,25.297693,0.979108,1.338647
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750.0,164038,3804041.22,160247.0,4.819073e+06,561512.37,294438.66,144929.24,1015032.27,21.062810,0.976890,1.266830
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,1750.0,187407,3418303.68,187140.0,4.538121e+06,461140.15,343854.07,123780.22,1119816.92,24.675786,0.998575,1.327594
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750.0,201682,3261197.94,200412.0,4.475973e+06,420050.01,368242.80,257032.07,1214774.94,27.139908,0.993703,1.372493
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,1750.0,138109,3023206.01,135838.0,4.223108e+06,545778.28,249587.83,257032.07,1199901.61,28.412764,0.983556,1.396897

-------------------------------------------------- purchases --------------------------------------------------
Count of records: 2372474

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2023-12-21,2024-01-02,2024-01-04,2024-02-16,35.71,6,214.26,1
1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4,37.40,1
2,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-02,2024-01-07,2024-02-21,9.41,5,47.05,1
3,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,6,56.10,1
4,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2023-12-24,2024-01-02,2024-01-09,2024-02-16,21.32,5,106.60,1

-------------------------------------------------- purchase_prices --------------------------------------------------
Count of records: 12261

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,58,Gekkeikan Black & Gold Sake,12.99,750mL,750,1,9.28,8320,SHAW ROSS INT L IMP LTD
1,62,Herradura Silver Tequila,36.99,750mL,750,1,28.67,1128,BROWN-FORMAN CORP
2,63,Herradura Reposado Tequila,38.99,750mL,750,1,30.46,1128,BROWN-FORMAN CORP
3,72,No. 3 London Dry Gin,34.99,750mL,750,1,26.11,9165,ULTRA BEVERAGE COMPANY LLP
4,75,Three Olives Tomato Vodka,14.99,750mL,750,1,10.94,7245,PROXIMO SPIRITS INC.

-------------------------------------------------- vendor_invoice --------------------------------------------------
Count of records: 5543

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,105,ALTAMAR BRANDS LLC,2024-01-04,8124,2023-12-21,2024-02-16,6,214.26,3.47,None
1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07,8137,2023-12-22,2024-02-21,15,140.55,8.57,None
2,388,ATLANTIC IMPORTING COMPANY,2024-01-09,8169,2023-12-24,2024-02-16,5,106.60,4.61,None
3,480,BACARDI USA INC,2024-01-12,8106,2023-12-20,2024-02-05,10100,137483.78,2935.20,None
4,516,BANFI PRODUCTS CORP,2024-01-07,8170,2023-12-24,2024-02-12,1935,15527.25,429.20,None

-------------------------------------------------- begin_inventory --------------------------------------------------
Count of records: 206529

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2024-01-01
1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL,7,10.99,2024-01-01
2,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,6,36.99,2024-01-01
3,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,3,38.99,2024-01-01
4,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,6,34.99,2024-01-01

-------------------------------------------------- sale --------------------------------------------------
Count of records: 12825363

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-01,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
1,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,2,32.98,16.49,2024-01-02,750.0,1,1.57,12546,JIM BEAM BRANDS COMPANY
2,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-03,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
3,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,14.49,14.49,2024-01-08,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
4,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,2,69.98,34.99,2024-01-09,375.0,1,0.79,12546,JIM BEAM BRANDS COMPANY

-------------------------------------------------- end_inventory --------------------------------------------------
Count of records: 224489

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,2024-12-31
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,2024-12-31
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,2024-12-31
3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,2024-12-31
4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,2024-12-31

In [3]:
row_counts = []

for t in tables["name"]:
    c = pd.read_sql_query(
        f"SELECT COUNT(*) AS rows FROM {t}", conn
    )["rows"].iloc[0]
    row_counts.append({"table": t, "rows": c})

pd.DataFrame(row_counts).sort_values("rows", ascending=False)

                  table      rows
5                  sale  12825363
1             purchases   2372474
6         end_inventory    224489
4       begin_inventory    206529
2       purchase_prices     12261
0  vendor_sales_summary     10692
3        vendor_invoice      5543

## Dataset Overview (Source Tables)

This project integrates multiple tables capturing purchase and sales activity across commercial partners and products:

- **purchases**: transactional purchase data (dates, partner/vendor, product/brand, quantity, total paid)
- **purchase_prices**: product-level pricing (incl. actual purchase price); uniquely identified by **(VendorNumber, Brand)**
- **vendor_invoice**: purchase order–level aggregates and additional costs (e.g., **freight**); uniquely identified by **(VendorNumber, PONumber)**
- **sales**: sales transactions (product sold, quantity, selling price, revenue)

## Data Preparation Approach (Why we build a summary table)

Because analysis requires joining large transactional tables, we create a consolidated table:
**commercial_partner_summary** (Partner/Vendor × Brand grain), combining:
- purchase totals (quantity, dollars)
- sales totals (quantity, dollars, tax)
- vendor-level freight costs
- actual product purchase prices

This curated dataset reduces repeated heavy joins/aggregations and provides a consistent foundation for:
- partner selection for profitability
- pricing effectiveness analysis
- inventory movement and overall profitability reporting (Power BI + Notebook 02)

In [5]:
# =========================
# Build Curated Summary Table (SQL)
# IMPORTANT FIXES INCLUDED:
# - purchase_prices join on (VendorNumber, Brand)
# - COALESCE sales fields to 0 (since we LEFT JOIN sales)
# =========================

commercial_partner_summary_sql = """
WITH FreightSummary AS (
    SELECT
        VendorNumber,
        SUM(Freight) AS FreightCost
    FROM vendor_invoice
    GROUP BY VendorNumber
),

PurchaseSummary AS (
    SELECT
        p.VendorNumber,
        p.VendorName,
        p.Brand,
        p.Description,
        AVG(p.PurchasePrice) AS PurchasePrice,           -- safer than grouping by purchaseprice
        AVG(pp.Price) AS ActualPrice,
        AVG(pp.Volume) AS Volume,
        SUM(p.Quantity) AS TotalPurchaseQuantity,
        SUM(p.Dollars) AS TotalPurchaseDollars
    FROM purchases p
    JOIN purchase_prices pp
        ON p.Brand = pp.Brand
       AND p.VendorNumber = pp.VendorNumber
    WHERE p.PurchasePrice > 0
    GROUP BY
        p.VendorNumber, p.VendorName, p.Brand, p.Description
),

SalesSummary AS (
    SELECT
        VendorNo,
        Brand,
        SUM(SalesQuantity) AS TotalSalesQuantity,
        SUM(SalesDollars) AS TotalSalesDollars,
        SUM(SalesPrice) AS TotalSalesPrice,
        SUM(ExciseTax) AS TotalExciseTax
    FROM sale
    GROUP BY VendorNo, Brand
)

SELECT
    ps.VendorNumber,
    ps.VendorName,
    ps.Brand,
    ps.Description,
    ps.PurchasePrice,
    ps.ActualPrice,
    ps.Volume,
    ps.TotalPurchaseQuantity,
    ps.TotalPurchaseDollars,
    COALESCE(ss.TotalSalesQuantity, 0) AS TotalSalesQuantity,
    COALESCE(ss.TotalSalesDollars, 0) AS TotalSalesDollars,
    COALESCE(ss.TotalSalesPrice, 0) AS TotalSalesPrice,
    COALESCE(ss.TotalExciseTax, 0) AS TotalExciseTax,
    COALESCE(fs.FreightCost, 0) AS FreightCost
FROM PurchaseSummary ps
LEFT JOIN SalesSummary ss
    ON ps.VendorNumber = ss.VendorNo
   AND ps.Brand = ss.Brand
LEFT JOIN FreightSummary fs
    ON ps.VendorNumber = fs.VendorNumber
ORDER BY ps.TotalPurchaseDollars DESC;
"""

df = pd.read_sql_query(commercial_partner_summary_sql, conn)
df.head()

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,FreightCost
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750.0,145080,3811251.60,142049,5.101920e+06,672819.31,260999.20,68601.68
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750.0,164038,3804041.22,160247,4.819073e+06,561512.37,294438.66,144929.24
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,1750.0,187407,3418303.68,187140,4.538121e+06,461140.15,343854.07,123780.22
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750.0,201682,3261197.94,200412,4.475973e+06,420050.01,368242.80,257032.07
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,1750.0,138109,3023206.01,135838,4.223108e+06,545778.28,249587.83,257032.07

In [6]:
# strip vendor name 
df["VendorName"] = df["VendorName"].astype(str).str.strip()

# ensure numeric types where possible
num_cols = [
    "PurchasePrice","ActualPrice","Volume",
    "TotalPurchaseQuantity","TotalPurchaseDollars",
    "TotalSalesQuantity","TotalSalesDollars","TotalSalesPrice",
    "TotalExciseTax","FreightCost"
]
for c in num_cols:
    df[c] = pd.to_numeric(df[c], errors="coerce").fillna(0)

df.dtypes

VendorNumber               int64
VendorName                   str
Brand                      int64
Description                  str
PurchasePrice            float64
ActualPrice              float64
Volume                   float64
TotalPurchaseQuantity      int64
TotalPurchaseDollars     float64
TotalSalesQuantity         int64
TotalSalesDollars        float64
TotalSalesPrice          float64
TotalExciseTax           float64
FreightCost              float64
dtype: object

In [7]:
# =========================
# Derived metrics
# =========================
df["GrossProfit"] = df["TotalSalesDollars"] - df["TotalPurchaseDollars"]

df["ProfitMargin"] = df.apply(
    lambda x: (x["GrossProfit"] / x["TotalSalesDollars"] * 100) if x["TotalSalesDollars"] > 0 else 0,
    axis=1
)

df["StockTurnover"] = df.apply(
    lambda x: (x["TotalSalesQuantity"] / x["TotalPurchaseQuantity"]) if x["TotalPurchaseQuantity"] > 0 else 0,
    axis=1
)

df["SalesToPurchaseRatio"] = df.apply(
    lambda x: (x["TotalSalesDollars"] / x["TotalPurchaseDollars"]) if x["TotalPurchaseDollars"] > 0 else 0,
    axis=1
)

# inventory risk proxy (working capital tied up)
df["LockedCapital"] = (df["TotalPurchaseDollars"] - df["TotalSalesDollars"]).clip(lower=0)

df.head()

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,FreightCost,GrossProfit,ProfitMargin,StockTurnover,SalesToPurchaseRatio,LockedCapital
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750.0,145080,3811251.60,142049,5.101920e+06,672819.31,260999.20,68601.68,1290667.91,25.297693,0.979108,1.338647,0.0
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750.0,164038,3804041.22,160247,4.819073e+06,561512.37,294438.66,144929.24,1015032.27,21.062810,0.976890,1.266830,0.0
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,1750.0,187407,3418303.68,187140,4.538121e+06,461140.15,343854.07,123780.22,1119816.92,24.675786,0.998575,1.327594,0.0
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750.0,201682,3261197.94,200412,4.475973e+06,420050.01,368242.80,257032.07,1214774.94,27.139908,0.993703,1.372493,0.0
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,1750.0,138109,3023206.01,135838,4.223108e+06,545778.28,249587.83,257032.07,1199901.61,28.412764,0.983556,1.396897,0.0

In [8]:
# =========================
# Quality checks (minimal but meaningful)
# =========================

# 1) Primary key uniqueness check (using original names)
dupes = df.duplicated(subset=["VendorNumber", "Brand"]).sum()
print("Duplicate (VendorNumber, Brand) rows:", dupes)

# 2) Negative profit flags
neg_profit = (df["GrossProfit"] < 0).sum()
print("Rows with negative GrossProfit:", neg_profit)

# 3) Zero-sales rows (expected for unsold items; still good to know)
zero_sales = (df["TotalSalesDollars"] == 0).sum()
print("Rows with TotalSalesDollars == 0:", zero_sales)

# 4) Null check
print("\nNulls per column:\n", df.isna().sum())

Duplicate (VendorNumber, Brand) rows: 0
Rows with negative GrossProfit: 2106
Rows with TotalSalesDollars == 0: 178

Nulls per column:
 VendorNumber             0
VendorName               0
Brand                    0
Description              0
PurchasePrice            0
ActualPrice              0
Volume                   0
TotalPurchaseQuantity    0
TotalPurchaseDollars     0
TotalSalesQuantity       0
TotalSalesDollars        0
TotalSalesPrice          0
TotalExciseTax           0
FreightCost              0
GrossProfit              0
ProfitMargin             0
StockTurnover            0
SalesToPurchaseRatio     0
LockedCapital            0
dtype: int64

In [11]:
cursor = conn.cursor()

cursor.execute("""
CREATE TABLE IF NOT EXISTS commercial_partner_summary (
    VendorNumber INTEGER,
    VendorName VARCHAR(100),
    Brand INTEGER,
    Description VARCHAR(255),

    PurchasePrice DECIMAL(10,2),
    ActualPrice DECIMAL(10,2),
    Volume DECIMAL(10,2),

    TotalPurchaseQuantity INTEGER,
    TotalPurchaseDollars DECIMAL(15,2),

    TotalSalesQuantity DECIMAL(15,2),
    TotalSalesDollars DECIMAL(15,2),
    TotalSalesPrice DECIMAL(15,2),
    TotalExciseTax DECIMAL(15,2),

    FreightCost DECIMAL(15,2),

    GrossProfit DECIMAL(15,2),
    ProfitMargin DECIMAL(10,2),
    StockTurnover DECIMAL(10,2),
    SalesToPurchaseRatio DECIMAL(10,2),
    LockedCapital DECIMAL(15,2),

    PRIMARY KEY (VendorNumber, Brand)
);
""")

conn.commit()

In [13]:
# =========================
# Confirm saved table exists
# =========================
pd.read_sql_query("SELECT COUNT(*) AS rows FROM commercial_partner_summary", conn)

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,FreightCost,GrossProfit,ProfitMargin,StockTurnover,SalesToPurchaseRatio,LockedCapital
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750.0,145080,3811251.60,142049,5.101920e+06,672819.31,260999.20,68601.68,1290667.91,25.297693,0.979108,1.338647,0.0
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750.0,164038,3804041.22,160247,4.819073e+06,561512.37,294438.66,144929.24,1015032.27,21.062810,0.976890,1.266830,0.0
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,1750.0,187407,3418303.68,187140,4.538121e+06,461140.15,343854.07,123780.22,1119816.92,24.675786,0.998575,1.327594,0.0
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750.0,201682,3261197.94,200412,4.475973e+06,420050.01,368242.80,257032.07,1214774.94,27.139908,0.993703,1.372493,0.0
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,1750.0,138109,3023206.01,135838,4.223108e+06,545778.28,249587.83,257032.07,1199901.61,28.412764,0.983556,1.396897,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10643,9815,WINE GROUP INC,8527,Concannon Glen Ellen Wh Zin,1.32,4.99,750.0,2,2.64,5,1.595000e+01,10.96,0.55,27100.41,13.31,83.448276,2.500000,6.041667,0.0
10644,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,0.39,0.49,50.0,6,2.34,134,6.566000e+01,1.47,7.04,50293.62,63.32,96.436186,22.333333,28.059829,0.0
10645,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,0.74,0.99,50.0,2,1.48,2,1.980000e+00,0.99,0.10,14069.87,0.50,25.252525,1.000000,1.337838,0.0
10646,3960,DIAGEO NORTH AMERICA INC,6127,The Club Strawbry Margarita,1.47,1.99,200.0,1,1.47,72,1.432800e+02,77.61,15.12,257032.07,141.81,98.974037,72.000000,97.469388,0.0
10647,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,0.71,0.99,50.0,1,0.71,86,8.514000e+01,33.66,4.46,38994.78,84.43,99.166079,86.000000,119.915493,0.0

## Next
Proceed to **02_vendor_decision_analysis.ipynb** to:
- Segment partners into action buckets (scale / renegotiate / fix sell-through / exit)
- Quantify inventory risk (locked capital)
- Validate insights with statistical testing
- Produce final tables + figures for README and LinkedIn